#
# .gitignore для сайтов на bitrix
#

# Сам .gitignore нужен.
!/.gitignore

bitrix/*

bitrix/managed_cache
bitrix/stack_cache
bitrix/cache
bitrix/html_pages
bitrix/tmp

!bitrix/php_interface
!bitrix/php_interface/*
!bitrix/php_interface/**

bitrix/php_interface/dbconn.php

# Храним шаблоны сайтов.
!bitrix/templates/
!bitrix/templates/*
!bitrix/templates/**

.htaccess

# Часто используемая папка для временных файлов
tmp

# Эти файлы постоянно изменяются. Их первоисточник - база данных, они могут быть в любой момент сгенерированы
# заново и на самом деле меняются практически каждый день, поэтому хранить в репозитории их нет смысла.
# файлы не
sitemap_iblock*
sitemap_files*
sitemap.xml

upload

# логи
*.log
# Архивы (в том числе не в корне сайта), в большинстве случаев используются, чтобы что-нибудь загрузить.
# Это дублирует маски архивов выше, но так как комментарии разные, оставим для ясности. Если будет необходимость
# отключить глобальное исключение архивов, не отключатся продублированные выше более узкие исключения.
*.gz
*.bz
*.bz2
*.tar
*.zip
*.rar
*.7z

# Операционки делают
.DS_Store
Thumbs.db
# vim
*.swp
*.swo
*.swq
# бэкапы
*.bak
*.BAK